<a href="https://colab.research.google.com/github/Varun0801/MachineLearning/blob/master/NYSE_Data_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from pandas_datareader import data, wb
import datetime

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
start = pd.to_datetime('2020-09-01')
end = pd.to_datetime('today')

In [3]:
data_df = data.DataReader('TSLA','yahoo',start,end)
data_df

                  High         Low  ...     Volume   Adj Close
Date                                ...
2020-09-01  502.489990  470.510010  ...   90119400  475.049988
2020-09-02  479.040009  405.119995  ...   96176100  447.369995
2020-09-03  431.799988  402.000000  ...   87596100  407.000000
2020-09-04  428.000000  372.019989  ...  110321900  418.320007
2020-09-08  368.739990  329.880005  ...  115465700  330.209991
2020-09-09  369.000000  341.510010  ...   79465800  366.279999
2020-09-10  398.989990  360.559998  ...   84930600  371.339996
2020-09-11  382.500000  360.500000  ...   60717500  372.720001
2020-09-14  420.000000  373.299988  ...   83020600  419.619995
2020-09-15  461.940002  430.700012  ...   97298200  449.760010
2020-09-16  457.790009  435.309998  ...   72279300  441.760010
2020-09-17  437.790009  408.000000  ...   76779200  423.429993
2020-09-18  451.000000  428.799988  ...   86406800  442.149994
2020-09-21  455.679993  407.070007  ...  109476800  449.390015
2020-09-22  437.760010  417.600006  ...   79580800  424.230011
2020-09-23  412.149994  375.880005  ...   93873900  380.359985

[16 rows x 6 columns]